<li class="collection-item avatar">
  <%= image_tag FFaker::Avatar.image(user.name, '50x50'), class: 'circle' %>
  <p>
    <%= link_to user.name, user %>
  </p>
  <div class="secondary-content">
    <%= add_friend_button(user, class: 'waves-effect waves-light btn hide-on-med-and-down', value: 'Add Friend') %>
    <%= delete_user_button(user, class: 'waves-effect waves-light btn red hide-on-med-and-down', value: 'Delete') %>
  </div>
</li>
