<li class="collection-item">
  <%= link_to user.name, user %>
  <% unless current_user.friend?(user) or user == current_user %>
   | <%= link_to "Add friends", new_friendship_path(user) %>
  <% end %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'secondary-content' do %>
      <i class="material-icons">delete</i>
    <% end %>
  <% end %>
</li>
