<h1>Friends</h1>
<ul class="collection">
  <% unless @friends.blank? %>
    <% @friends.each do |friend| %>
      <% friend = friend.user != current_user ? friend.user : friend.friend %>
      <%= link_to user_path(friend), class: "collection-item avatar" do %>
        <%= image_tag FFaker::Avatar.image(friend.name, '50x50'), class: 'circle' %>
        <p>
          <%= friend.name %><br>
          <%= friend.email %>
        </p>
      <% end %>
    <% end %>
  <% else %>
    <li>No friends.</li>
  <% end %>
</ul>
