<h1>MoneyTransfers#index</h1>
<ul>
  <% if current_user.money_transfers %>
    <% current_user.money_transfers.each do |transfer| %>
      <li>
        Receiver: <%= transfer.receiver.name %> | amount: <%= transfer.amount %> | Sent date: <%= transfer.created_at %>
      </li>
    <% end %>
  <% end %>
</ul>
